body{
  display: block;
  background-color: #fcba03;
}
h1{
  font-family: 'Oxygen', sans-serif;
  font-size: 78px;
  color: #4a4a4a;
}
h3{
  font-family: 'Oxygen', sans-serif;
  color: #4a4a4a;
}
.pa{
  font-family: 'Itim', sans-serif;
}
.t_bk{
  padding: 20px;
  background-color: #ffd45c;
}
