body{
  background-color: #fcba03;
}
h1{
  font-family: 'Oxygen', sans-serif;
  font-size: 400%;
  color: #4a4a4a;
}
h3, h2{
  font-family: 'Oxygen', sans-serif;
  color: #4a4a4a;
}
h3{
  font-size: 150%;
}
h2{
  font-size: 36px;
}
.pa{
  color: #757575;
  font-size: 175%;
  position: sticky;
  font-family: 'Itim', sans-serif;
}
.t_bk{
  margin: -7px;
  padding: 20px;
  background-color: #ffd45c;
}
.tab{
  margin-top: 5%;
}
.r_text{
  margin-left: 5%;
}
.l_text{
  margin-right: 5%;
}
tr{
  margin: 10px;
}
img{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 90%
}
.btn{
  background-color: transparent;
  border-color: #f59342;
  cursor: pointer;
  border-radius: 72px;
  font-size: 250%;
  font-family: 'Itim', sans-serif;
  padding: 20px;
  transition: 0.4s;
}
.mini_btn{
  margin-top: 2%;
  width: 400px;
  background-color: transparent;
  border-color: #f59342;
  cursor: pointer;
  border-radius: 72px;
  font-size: 20px;
  font-family: 'Itim', sans-serif;
  padding: 10px;
  transition: 0.4s;
}
.semi_btn{
  margin-top: 2%;
  width: 400px;
  background-color: transparent;
  border-color: #f59342;
  cursor: pointer;
  border-radius: 72px;
  font-size: 36px;
  font-family: 'Itim', sans-serif;
  padding: 10px;
  transition: 0.4s;
}
.btn:hover, .mini_btn:hover, .back:hover, .semi_btn:hover{
  background-color: #f59342;
}
.back{
  font-family: 'Itim', sans-serif;
  font-size: 18px;
  background-color: transparent;
  border-radius: 10px;
  border-color: #f59342;
  cursor: pointer;
  transition: 0.4s;
}
